doctype html
html
  head
    meta(charset='UTF-8')
    title Juego
    head
      script(src='https://cdn.socket.io/socket.io-1.3.7.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(type='application/javascript', src='javascripts/js.js')
      style(type='text/css').
        * {
        text-align: center;
        }
        #caja{ 
        margin: auto auto;
        border: 2px solid black;
        border-radius: 2%;
        background-color: grey;
        width:715px;
        height:715px;
        z-index:-1;}

        canvas{
        margin:0px;
        border:1px solid black;
        background-color: white;
        float:left;
          width:100px;
        height:100px;
        border-radius:100%;

        }
  body
    h1 Juego de Alejandro
    h3 El jugador que consiga pintar 10 celdas gana!
    h4
    h5#b
    h5#p
    h5#pp
    h5#y
    h5#g
    h5#r
    h1#marca
    div#caja
      canvas#canvas1
      canvas#canvas2
      canvas#canvas3
      canvas#canvas4
      canvas#canvas5
      canvas#canvas6
      canvas#canvas7
      canvas#canvas8
      canvas#canvas9
      canvas#canvas10
      canvas#canvas11
      canvas#canvas12
      canvas#canvas13
      canvas#canvas14
      canvas#canvas15
      canvas#canvas16
      canvas#canvas17
      canvas#canvas18
      canvas#canvas19
      canvas#canvas20
      canvas#canvas21
      canvas#canvas22
      canvas#canvas23
      canvas#canvas24
      canvas#canvas25
      canvas#canvas26
      canvas#canvas27
      canvas#canvas28
      canvas#canvas29
      canvas#canvas30
      canvas#canvas31
      canvas#canvas32
      canvas#canvas33
      canvas#canvas34
      canvas#canvas35
      canvas#canvas36
      canvas#canvas37
      canvas#canvas38
      canvas#canvas39
      canvas#canvas40
      canvas#canvas41
      canvas#canvas42
      canvas#canvas43
      canvas#canvas44
      canvas#canvas45
      canvas#canvas46
      canvas#canvas47
      canvas#canvas48
      canvas#canvas49
     
